/*

  Credit to Font Squirrel for providing the tools to make this font web friendly
  Also, credit to "Flat-it" (http://flat-it.com/) for creating Boycoot font

 */

@font-face {
  font-family: "boycottregular";
  src: url("fonts/boycott_-webfont.eot");
  src: url("fonts/boycott_-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/boycott_-webfont.woff") format("woff"),
    url("fonts/boycott_-webfont.ttf") format("truetype"),
    url("fonts/boycott_-webfont.svg#boycottregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sacramentoregular";
  src: url("fonts/sacramento-regular-webfont.eot");
  src: url("fonts/sacramento-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/sacramento-regular-webfont.woff") format("woff"),
    url("fonts/sacramento-regular-webfont.ttf") format("truetype"),
    url("fonts/sacramento-regular-webfont.svg#sacramentoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Space out content a bit */
body {
  padding: 70px 0 0;
  margin: 0;
}

a,
.close {
  color: #aa0f13;
}

a:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.close:hover {
  color: #7e0f13;
}

.close,
.close:hover {
  opacity: 1;
}

.btn-danger {
  background-color: #aa0f13;
}

.btn-danger:hover {
  background-color: #7e0f13;
}

h1,
.jumbotron h1 {
  color: #aa0f13;
}

noscript {
  background-color: rgb(97, 101, 104);
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  padding: 15px 0;
}

blockquote {
  border-left: 0;
  font-size: 14px;
}

blockquote:before {
  display: block;
  height: 0;
  content: "“";
  margin-left: -0.64em;
  font: italic 400%/1 Cochin, Georgia, "Times New Roman", serif;
  color: #999;
}

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}*/

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*

  Header

*/

.navbar-default {
  border: 0;
  background-color: rgb(250, 250, 250);
  background-color: rgba(250, 250, 250, 0.8);
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 15px;
}

.navbar-default h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar-default .navbar-brand {
  font-family: "sacramentoregular", cursive;
  font-size: 36px;
  color: #aa0f13;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
  background-color: #aa0f13;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #aa0f13;
}

.navbar-brand {
  padding: 15px 0;
}

/*

  Banners

*/

#carouselTagline .carousel-caption {
  font-family: boycottregular;
  top: 0;
  bottom: 200px;
  right: 40%;
  padding: 10% 0 0 30px;
  text-align: left;
}

#carouselTagline .carousel-caption h2 {
  font-size: 100px;
  color: #fff;
}

#carouselTagline .carousel-caption h3 {
  font-size: 50px;
}

#carouselTagline .carousel-caption h4 {
  font-size: 44px;
}

#carouselTagline .carousel-caption h2,
#carouselTagline .carousel-caption h3,
#carouselTagline .carousel-caption h4 {
  margin-top: 10px;
}

.jumbotron {
  padding: 0;
  background-color: #fff;
}

.tagLineBanner {
  text-align: center;
  max-width: 100%;
}

/*

  About Me

*/

#about {
  padding: 25px 0;
  background-color: rgb(97, 101, 104);
  color: #fff;
}

#about h1,
#about h2 {
  color: #939ca4;
}

#about h1 {
  margin-top: 0;
}

#about p {
}

#aboutMeTitle {
  margin-bottom: 0.67em;
}

#chartContainer {
  height: 400px;
  width: 100%;
}

.divAboutMeImage {
  margin-top: 22px;
}

.autherQuote {
  display: inline-block;
  padding-top: 10px;
  text-align: right;
  width: 100%;
}

/*

  Portfolio

*/

#portfolio {
  margin-bottom: 25px;
}

#portfolio .thumbnail {
  border: 0;
}

#portfolio img {
  border: 1px solid #939ca4;
}

#portfolio img[src$=".svg"] {
  width: 130px;
  height: 130px;
}

#projectsList img {
  margin: 0 auto;
}

#selectSortBy {
}

#searchAndSorting {
  margin: 20px 0;
}

.projectHeader {
  text-align: center;
  margin-bottom: 15px;
  height: 250px;
}

.projectSummary {
  height: 150px;
}

.projectFooter {
  text-align: center;
  margin-top: 15px;
}

.projectFooter .btn-lg {
  white-space: normal;
}

/*

  Portfolio Detials

*/

#closeProjectDetails {
  margin-top: 14px;
}

/*

  Contact

*/

#contact,
.footer {
  background-color: #aa0f13;
}

#sectionSocialMedia {
  margin: 25px 0;
}

#socialMediaIcons {
  margin-top: 25px;
}

#contact,
#contact h1,
#contact a,
.footer {
  color: #fff;
}

#contact p,
#contact form {
  text-align: center;
  font-size: 25px;
}

#contact form {
  text-align: left;
}

#contact .form-submit {
  font-size: 25px;
}

#socialMediaIcons .clearfix {
  margin-bottom: 25px;
}

#socialMediaIcons div {
  text-align: center;
}

#socialMediaIcons a {
  background-color: #fff;
  color: #aa0f13;
  border-radius: 8px;
  width: 80px;
}

#socialMediaIcons a:hover {
  background-color: transparent;
  color: #fff;
}

#contact .form-horizontal .control-label {
  padding-top: 0;
}

#contact .form-required-label {
  text-align: right;
}

#contact .form-horizontal .btn-default {
  color: #aa0f13;
  background-color: #ffffff;
  border: 0;
}

#contact .form-horizontal .btn-default:hover {
  color: #ffffff;
  background-color: #aa0f13;
}

/*

  Footer

*/

.footer {
  padding: 25px 0;
  color: #fff;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /*

    Banner

  */

  #carouselTagline .carousel-caption {
    padding-top: 5%;
  }

  #carouselTagline .carousel-caption h2 {
    font-size: 75px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /*

    Banner

  */

  #carouselTagline .carousel-caption {
    padding-top: 5%;
  }

  #carouselTagline .carousel-caption h2 {
    font-size: 75px;
  }

  /*

    Portfolio

  */

  #searchHolder {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  /*

    Banner

  */

  #carouselTagline .carousel-caption {
    padding-top: 5%;
  }

  #carouselTagline .carousel-caption h2 {
    font-size: 50px;
  }

  /*

    Portfolio

  */

  #searchHolder {
    margin-bottom: 10px;
  }

  .projectHeader {
    height: 200px;
  }

  .projectHeader h3 {
    font-size: 20px;
  }
}

@media (max-width: 568px) {
  /*

    Banner

  */

  #carouselTagline .carousel-caption {
    padding-top: 3%;
  }

  #carouselTagline .carousel-caption h2 {
    font-size: 30px;
  }

  /*

    Portfolio

  */

  .projectHeader {
    height: 225px;
  }
}

@media (max-width: 360px) {
  /*

    Banner

  */

  #carouselTagline .carousel-caption {
    padding-top: 0;
  }

  #carouselTagline .carousel-caption h2 {
    font-size: 25px;
  }

  /*

    Portfolio

  */

  .projectFooter .btn-lg {
    font-size: 12px;
    padding: 5px 16px;
  }

  .projectHeader {
    height: 175px;
  }

  .projectHeader h3 {
    font-size: 14px;
  }
}
