<section id="sectionContact">
	<div class="container">
		<h1>Contact Me</h1>

		<p>
			<label>Feel free to send me any questions.<br>I'll try my best to get back to you in 72 hours.</label>
		</p>

		<p id="contactingMeByEmail">
			<a href="mailto:jstathopulos@gmail.com">jstathopulos@gmail.com</a>
		</p>

		<section id="sectionSocialMedia">
			<h2>Find Me On Social Media</h2>

			<div id="socialMediaIcons" class="row">
				<div class="col-md-2 col-xs-3">
					<!-- Twitter -->
					<a href="https://twitter.com/JasonStats" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter fa-4x"></i></a>
				</div>
				<div class="col-md-2 col-xs-3">
					<!-- Facebook -->
					<a href="https://www.facebook.com/JStats" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook fa-4x"></i></a>
				</div>
				<div class="col-md-2 col-xs-3">
					<!-- Linkedin -->
					<a href="https://www.linkedin.com/in/jasonstathopulos" title="Share on Linkedin" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin fa-4x"></i></a>
				</div>
				<div class="clearfix visible-sm visible-xs"></div>
				<div class="col-md-2 col-xs-3">
					<!-- Google+ -->
					<a href="https://google.com/+JasonStathopulos" title="Share on Google+" target="_blank" class="btn btn-google-plus"><i class="fa fa-google-plus fa-4x"></i></a>
				</div>
				<div class="col-md-2 col-xs-3">
					<!-- Github -->
					<a href="https://github.com/SpiritBreaker226" title="Share on Github" target="_blank" class="btn btn-github"><i class="fa fa-github fa-4x"></i></a>
				</div>
				<div class="col-md-2 col-xs-3">
					<!-- Instagram -->
					<a href="http://instagram.com/jasonstats" title="Share on Instagram" target="_blank" class="btn btn-instagram"><i class="fa fa-instagram fa-4x"></i></a>
				</div>
			</div>
		</section>
	</div>
</section>