<section id="portfolio">
	<div class="panel-group" id="projectsPanelGroup">
		<div class="panel">
			<div id="projectsList" class="collapse panel-collapse in">
				<div class="container" ng-controller="PortfolioCtrl as portfolio">
					<div class="row" id="titleAndSorting">
						<div class="col-md-6">
							<h1>Feature Projects</h1>	
						</div>
						<div class="col-md-6">
							<select ng-model="projectOrder" class="form-control" id="selectSortBy">
								<option value="name">Name (A-Z)</option>
								<option value="-name">Name (Z-A)</option>
								<option value="-projectType">Type (Open Source First)</option>
								<option value="projectType">Type (Close Source First)</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div ng-repeat="project in projects | orderBy: projectOrder">
							<div class="col-md-3 col-xs-6">
								<div class="thumbnail">
									<div class="caption">
										<header class="projectHeader">
											<a data-toggle="collapse" data-parent="#projectsPanelGroup" href="#projectsDetails" ng-click="setProjectIndex(projects.indexOf(project))">
												<img ng-src="images/ProjectIcons/{{project.icon}}" alt="{{project.name}}" class="img-circle img-responsive">
												<h3>{{project.name}}</h3>
											</a>
											<span class="hidden-xs">(
												<time datetime="{{project.projectStartDate}}">{{project.projectStartDate | date: 'MMM yyyy'}}</time> - 
												<time ng-hide="hideProjectEndDate(project.projectEndDate)" datetime="{{project.projectEndDate}}">{{project.projectEndDate | date: 'MMM yyyy'}}</time>
											)</span>
										</header>

										<span class="hidden-sm hidden-xs">{{project.summary}}</span>
									</div>
								</div>
							</div>
			 
							<div ng-class="($index % 2) === 1 ? 'visible-sm visible-xs clearfix' : ''"></div>
							<div ng-class="($index % 4) === 3 ? 'clearfix' : ''"></div>
						</div> 
					</div>
				</div>
			</div>
			<div id="projectsDetails" class="collapse panel-collapse">
				<portfolio-details></portfolio-details>
			</div>
		</div>
	</div>
</section>
