<section id="sectionPortfolio" ng-controller="PortfolioCtrl as portfolio">
	<div class="container">
		<h1>Feature Portfolio</h1>
		
		<div class="row" ng-repeat="projectRow in portfolio.projects | limitTo: portfolio.numberOfProjects">
			<div ng-repeat="project in portfolio.projects | limitTo: ($index * 4) | limitTo: -4">
				<div class="col-md-3 col-xs-6">
					<div class="thumbnail">
						<div class="caption">
							<header class="projectHeader">
								<a href="javascript:void()"><img ng-src="images/ProjectIcons/{{project.icon}}" alt="{{project.name}}" class="img-circle img-responsive">
								<h3>{{project.name}}</h3></a>
								(
									<time datetime="{{project.projectStartDate}}">{{project.projectStartDate | date: 'MMM yyyy'}}</time> - 
									<time ng-hide="portfolio.hideProjectEndDate({{project.projectEndDate}})" datetime="{{project.projectEndDate}}">{{project.projectEndDate | date: 'MMM yyyy'}}</time>
								)
							</header>

							<span class="hidden-sm hidden-xs">{{project.summary}}</span>	
						</div>
					</div>
				</div>

				<div class="clearfix visible-sm visible-xs" ng-if="portfolio.showClearfix($index)"></div>
			</div> 
		</div>
	</div>
</section>
