<section id="sectionAboutMe">
	<div class="jumbotron ng-scope">
		<h1>About Me</h1>

		<p>
			Jason Stathopulos is a very talented Web Developer who lives in Toronto, Canada. He taught himself PHP in is spare time and is always interested in learning new computer concepts. Jason has been instrumental in creating websites for Elementary Teachers of Toronto, Ontario Liberal Party and Benjamin Memorial Chapel, among others.
		</p>
		<p>
			When he is not working, Jason enjoys watching flicks. He attends the Toronto International Film Festival every year and likes to see unusual indie flicks. Some of his favourite movies are Inception, The Matrix, and Fight Club. He likes science fiction and fantasy is currently reading A Song of Ice and Fire series. His favourite books are Daemon and Freedom TM. Jason also likes the classics such as 1984 and The Art of War.
		</p>
	</div>
</section>
