<section id="sectionCarusel">
	<h1 hidden>Carusel</h1>

	<div id="carouselFeatures" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselFeatures" data-slide-to="0" class="active"></li>
		</ol>

		<div class="carousel-inner">
			<div class="item active" id="carouselTagline">
				<img src="../images/Banners/taglinebricks.png" alt="">
				<div class="carousel-caption">
					<hgroup>
						<h2 hidden>Tagline</h2>
						<h2>Talented,</h2>
						<h3>Focused,</h3>
						<h4>Experienced</h4>
					</hgroup>
					<p>Just few words to describe me</p>
				</div>
			</div>
		</div>

		<a class="carousel-control left" href="#carouselFeatures" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="carousel-control right" href="#carouselFeatures" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</section>

<script>
	$(document).ready(function(){
		$('.carousel').carousel({
			interval: 5000
		});
	});
</script>